<div class="row">
  <div class="columns small-12 medium-8 medium-centered">
    <h2>Object Cannon Game</h2>

    <p>
      This game was developed for <%= link_to "Koombea", "https://koombea.com/", target: "_blank" %>
      as the final part of an HR selection process.
    </p>

    <p>
      The game is a small RoR 4.2.5 app running in ruby 2.3.0 and deployed to <%= link_to "Heroku", "https://www.heroku.com/", target: "_blank" %>.
      Here is a list of this app's main features:
    </p>
    <ul>
      <li>Fully responsive using <%= link_to "Foundation 5", "http://foundation.zurb.com/", target: "_blank" %></li>
      <li>Powered using <%= link_to "PostgreSQL", target: "_blank" %></li>
    </ul>
  </div>
</div>




